<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container" style="width: 400px; height: 400px; background:url('https://happyxx.web.app/icons/flower.jpg'); text-align: center;">
    <img src="https://happyxx.web.app/icons/logo.png" alt=""  class="centered">
    <div class="centered"><h1>You've Received A<br/>Thank You Card</h1>
        <a style="text-decoration: none; color: black;cursor:pointer;" href="https://thanxebia.herokuapp.com" ><b>Click here</b></a>
    </div>
</body>
</html> 
